<div class="group-column">
    <h1>
      {{#if isFirst}}
          Начало
      {{else}}
          Тур {{tour}}
      {{/if}}
    </h1>

  {{#each groups as |group|}}
      <div class="panel panel-default">
          {{#if group.title}}
              <div class="panel-heading">
                  <b>{{group.title}}</b>
              </div>
          {{/if}}
          <div class="panel-body">
            {{#each group.sortedPlayers as |player|}}
              {{player.name}} ({{player.town}})
                <br>
            {{/each}}
          </div>
        {{#unless isFirst}}
            <div class="panel-footer">
              {{input value=group.score placeholder="Счёт" class="form-control" type="number" min=0 change=(action "updateGroupScore" group)}}
            </div>
        {{/unless}}
      </div>
  {{/each}}
</div>