<div class="controls-container">
    {{add-players savePlayers="savePlayers"}}
    {{shuffle-button shufflePlayers="shufflePlayers"}}
    {{print-players}}
    <div class="button-spacer"></div>
    {{options-panel model=model.options gameStarted=gameStarted}}
    {{clear-players clearPlayers="clearPlayers"}}
    <div class="button-spacer"></div>
    {{load-data updateModel="updateModel"}}
    {{save-data}}
</div>

<div class="groups-container">
    {{#each tours as |tour|}}
        {{groups-column rawGroups=model.groups tour=tour}}
    {{/each}}
</div>