{{add-players savePlayers="savePlayers" groups=model}}
{{shuffle-button shufflePlayers="shufflePlayers"}}
{{clear-players clearPlayers="clearPlayers"}}

<div class="groups-container">
    {{groups-column rawGroups=model tour=0}}
    {{groups-column rawGroups=model tour=1 updateGroup="updateGroup"}}
    {{groups-column rawGroups=model tour=2 updateGroup="updateGroup"}}
    {{groups-column rawGroups=model tour=3 updateGroup="updateGroup"}}
    {{groups-column rawGroups=model tour=4 updateGroup="updateGroup"}}
    {{groups-column rawGroups=model tour=5 updateGroup="updateGroup"}}
    {{groups-column rawGroups=model tour=6 updateGroup="updateGroup"}}
</div>