<table class="table table-striped">
    <thead><tr>
        <th width="50">#</th>
        <th>Игрок</th>
        <th width="50">Σ</th>
        {{#each tours as |tour|}}
            <th width="50">{{tour}}</th>
        {{/each}}
    </tr></thead>
    <tbody>
    {{#each model.players as |player|}}
        <tr>
            <td>{{player.place}}</td>
            <td>{{player.name}}  {{#if player.town}}({{player.town}}){{/if}}</td>
            <td>{{player.totalScore}}</td>
            {{#each player.scores as |score|}}
                <td>{{score}}</td>
            {{/each}}
        </tr>
    {{/each}}
    </tbody>
</table>
